<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">

    <preference for="AlgoliaSearch\Client" type="Develo\TypeSense\Adapter\Client"/>
    <preference for="AlgoliaSearch\Index" type="Develo\TypeSense\Adapter\Index"/>

</config>
